.banner {
    background-image: url(/src/images/pink_rice.png);
    height: 370px;
    margin: 0 ;
    padding: 0 ;
    color: black;
    font-size: 18px;
    position: fixed;
  }
  
  @media (min-width: 576px) {
    .banner {
      font-size: calc(10px + 14 * (100vw - 320px) / 800);
    }
  }